* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
}

nav {
  height: 64px;
  width: 100vw;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 99;
}
.light nav {
  color: black;
}
.dark nav {
  background-color: rgb(88, 9, 63);
  color: white;
}

.change-theme {
  padding: 8px 16px;
  background-color: darkolivegreen;
  border-radius: 8px;
  width: fit-content;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section {
  height: 100vh;
}
